::placeholder {
  color: grey;
  opacity: 1;
}
.nav-full {
  background: rgb(51, 53, 69);
}
.nav-bar {
  height: 64px;
  background-color: #333545;
  align-items: center;
}

/* nav-right */

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right p:hover {
  color: white;
}

/* nav-right */

/* responsive nav */
.res-nav {
  height: 59px;
  padding: 10px 18px 8px;
  display: none;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #222539;
}
.res-nav-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-res-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}
.right-res-nav .res-btn {
  width: 64px;
  height: 32px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 68, 100);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin-right: 10px;
  border-style: none;
}

@media only screen and (max-width: 768px) {
  .nav-full {
    display: none;
  }
  .res-nav {
    display: block;
  }
}
/* responsive nav */
