.red {
  color: #dc3558;
}
.black {
  color: black;
}
.m-name {
  width: inherit;
  word-break: break-word;
  color: rgb(34, 34, 34);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.33;
  margin: 0px 0px 4px;
}
.m-catg {
  color: #666666;
  word-break: break-word;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}
