/* slides */
.scrollSlide {
  height: 100%;
  background-color: #ebebeb;
  padding: 0 0 32px;
}
.slide {
  height: 322px;
  height: 100%;
  width: 100%;
}
.scrollSlide {
  position: relative;
}
.slide-img img {
  padding-top: 10px;
}
/* slides */
