.events {
  max-height: 600px;
  height: 100%;
  background-color: #f5f5f5;
  width: 100%;
}
.eve-cont h2 {
  font-size: 1.5rem;
}
.event-pad {
  padding-top: 48px;
}
.eve-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  overflow: hidden;
  overflow-x: visible;
  /* gap: 8px 32px; */
  margin: 8px 0px 8px 0px;
  min-width: 20.3125%;
}
.eve-imgs :last-child .eve-img-one {
  margin-right: 0px;
}
.eve-img-one img {
  max-height: 378px;
  max-width: 222px;
  padding-top: 5px;
  border-radius: 10px;
}
/* events */
