::placeholder {
  color: grey;
  opacity: 1;
}
.nav-full {
  background: rgb(51, 53, 69);
  position: sticky;
}
.nav-bar {
  height: 64px;
  background-color: #333545;
  align-items: center;
}

/* nav-right */

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right p:hover {
  color: white;
}

/* nav-right */

@media only screen and (max-width: 768px) {
  .nav-full {
    display: none;
  }
}
/* responsive nav */
