/* premiere */
.premiere {
  background-color: #2b3148;
  padding-bottom: 20px;
}
.premiere .pre-img {
  padding: 16px 0;
}
.pre-img img {
  max-width: 1240px;
  max-height: 103px;
  width: 100%;
  height: 100%;
}
.pre-show {
  color: white;
  padding: 16px 0 0 0;
  background-color: #2b3148;
  max-width: 1240px;
  width: 92%;
  margin: auto;
}

.pre-show .shows {
  width: 100%;
  justify-content: space-between;
}
.shows {
  position: relative;
}
.show-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  overflow: hidden;
  overflow-x: visible;
  margin: 8px 0px 8px 0px;
}
.shows img {
  max-height: 334px;
  max-width: 222px;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}
.show-one img:last-child {
  margin-right: 0;
}
.show-details {
  width: 100%;
  height: 100%;
}
.s-name {
  width: 100%;
  word-break: break-word;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.33;
  margin: 0px 0px 4px;
}
.s-lang {
  margin-top: 3px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}
/* premiere */
.content {
  max-width: 1240px;
  margin: 0px auto;
}
